[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fbs = "*"
pyqt5 = "*"
opencv-python-headless = "*"
pyzbar = "*"
playsound = "*"
vext = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
pyinstaller = "*"
qtmodern = "*"

[dev-packages]

[requires]
python_version = "3.9"
